.restaurantName{
    font-size: 2vh;
    font-family: "MADETOMMYBOLD";
}
.restaurantAddress{
    font-size: 1vh;
    font-family: "MADETOMMY";
}
.TokenRequestState{
    display: flex;
    flex-direction: row;
}

.buttonApprove{
    font-size: 2vh;
    font-family: "MADETOMMYBOLD";
    background-color: #6A957B;
    color:white;
    padding: 0.5vh 1vh;
    border-radius: 1vh;
    border:0;
}


.buttonReject{
    margin: 0vh 1vh;
    font-size: 2vh;
    font-family: "MADETOMMYBOLD";
    background-color: #BA3D3C;
    color:white;
    padding: 0.5vh 1vh;
    border-radius: 1vh;
    border:0;
}