body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MADETOMMY";
  src: url("./assets/fonts//MADE TOMMY Regular_PERSONAL USE.otf");
       
}

@font-face {
  font-family: "MADETOMMYBOLD";
  src: url("./assets/fonts//MADE TOMMY Bold_PERSONAL USE.otf");
       
}

@font-face {
  font-family: "MADETOMMYMEDIUM";
  src: url("./assets/fonts//MADE TOMMY Medium_PERSONAL USE.otf");
       
}